.palette {
  &-adp {
    //background: linear-gradient(90deg, #8de9c6 0%, #7c82f2 100%);
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    background: linear-gradient(
                    90.04deg
            ,#7b82f3,#8eeac6);
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 150px;
  align-items: center;
}

@font-face {
  font-family: 'CeraRound';
  font-style: normal;
  font-weight: 100;
  src:local('CeraRound'),
  url('./fonts/cera-round/CeraRoundProThin.otf') format('otf');
}

@font-face {
  font-family: 'CeraRound';
  font-style: normal;
  font-weight: 300;
  src:local('CeraRound'),
  url('./fonts/cera-round/CeraRoundProLight.otf') format('otf');
}

@font-face {
  font-family: 'CeraRound';
  font-style: normal;
  font-weight: 500;
  src:local('CeraRound'),
  url('./fonts/cera-round/CeraRoundProMedium.otf') format('otf');
}

@font-face {
  font-family: 'CeraRound';
  font-style: normal;
  font-weight: 900;
  src:local('CeraRound'),
  url('./fonts/cera-round/CeraRoundProBlack.otf') format('otf');
}

@font-face {
  font-family: 'CeraRound';
  src: url('./fonts/cera-round/CeraRound-Regular-Web.eot');
  src: url('./fonts/cera-round/CeraRound-Regular-Web.eot#iefix') format('embedded-opentype'),
  url('./fonts/cera-round/CeraRound-Regular-Web.woff2') format('woff2'),
  url('./fonts/cera-round/CeraRound-Regular-Web.woff') format('woff'),
  url('./fonts/cera-round/CeraRound-Regular-Web.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'CeraRound';
  src: url('./fonts/cera-round/CeraRound-Bold-Web.eot');
  src: url('./fonts/cera-round/CeraRound-Bold-Web.eot#iefix') format('embedded-opentype'),
  url('./fonts/cera-round/CeraRound-Bold-Web.woff2') format('woff2'),
  url('./fonts/cera-round/CeraRound-Bold-Web.woff') format('woff'),
  url('./fonts/cera-round/CeraRound-Bold-Web.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
